.div1{
  background: url("../images/div-1.png");
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
}

/* Submitknop stijl */
button[type="submit"] {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bolder;
  border: 3px solid #2B2D42;
  color: #2B2D42;
  background: none;
  transition: 0.5s ease;
  cursor: pointer;
}

button[type="submit"]:hover {
  border-color: #D41444;
  color: #D41444;
}

/* Div2 hoogte instelling */
.div2 {
  height: 35rem;
}

/* Specifieke stijl voor voornaam veld */
.voornaam {
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
}

/* Stijl voor de kaartslider */
.card-slider .card-item {
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 90%;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 10px 10px rgba(34, 35, 58, 0.2);
  padding: 30px;
  border-radius: 25px;
  min-height: 300px;
  border: 2px solid transparent;
  transition: 0.2s ease;
  text-align: center;
}

/* Inhoud van de kaart */
.card-item__content {
  margin-left: 20rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Titel van de kaart */
.card-item__title {
  font-size: 38px;
}

/* Ruimte voor de kaart */
.card-item {
  margin-right: 8rem;
}

.bedankt-container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 12px;
  text-align: center;
}

.card-slider ul {
  text-align: left;
  margin: auto;
  padding: 0;
  width: fit-content;
}

.terug-btn {
  margin-top: 20px;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bolder;
  border: 3px solid #2B2D42;
  color: #2B2D42;
  background: none;
  transition: 0.5s ease;
  cursor: pointer;
}

.terug-btn:hover {
  border-color: #D41444;
  color: #D41444;
}

body.dark-mode .card-item{
  background-color: #1f1f1f;
}

body.darkmode terug-btn {
  border: white;
  color: white;
}