.background {
    background: url(../images/Group7@2x.png), url(../images/MaskGroup6@2x.png), url(../images/Group9.png);
    background-size: contain, contain, 47%;
    background-position: -3px center, calc(100% + 30px) calc(100% + 20px), calc(80%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: auto;
    height: 80vh;
    background-repeat: no-repeat;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
}

#auth0-login-box {




}

body.dark-mode .background{
    background: url(../images/Group7@2x.png), url(../images/MaskGroup6@2x.png), url(../images/Group9.png);
    background-size: contain, contain, 47%;
    background-position: -3px center, calc(100% + 30px) calc(100% + 20px), calc(80%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    color: black;
    width: auto;
    height: 80vh;
    background-repeat: no-repeat;
    margin: 20px;
    background-color: #1e1e1e;
    border-radius: 20px;
}

#auth0-login-box {
  width: 80%;
  max-width: 400px;
  min-width: 250px;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 26%; /* duwt de box naar rechts in zijn container */
    z-index: 50;
}

.auth0-lock-content-wrapper{
        border: solid 5px;
        border-color: #2b2d42;
}

.auth0-lock-header{
    background-color: #1e1e1e !important;
}


body.dark-mode .auth0-lock-cred-pane{
    background-color: #1e1e1e !important;
}

body.dark-mode .auth0-lock-tabs li a{
    background-color: #1e1e1e;
    color: rgb(180,180,180) !important;
}

body.dark-mode .auth0-lock-tabs-current{
    background-color: #1e1e1e !important;
}

body.dark-mode .auth0-lock-tabs-current span{
    color: white !important;
}

body.dark-mode .auth0-lock.auth0-lock.auth0-lock-opened-in-frame .auth0-lock-header-bg .auth0-lock-header-bg-blur{
    opacity: 0;
    transition: 0ms;
}

body.dark-mode .auth0-lock.auth0-lock .auth0-lock-header-bg{
    background-color: #1e1e1e;
    color: whitesmoke;
}

/* 1. Zwarte rand aanpassen naar #1e1e1e */
body.dark-mode .auth0-lock-content-wrapper {
    border-color: #1e1e1e !important;
}

/* 2. 'Auth0' tekst in de header wit maken */
body.dark-mode .auth0-lock-header .auth0-lock-name {
    color: white !important;
}

/* 3. 'Don't remember your password?' wit maken */
body.dark-mode .auth0-lock-alternative {
    color: white !important;
}

body.dark-mode,
.auth0-lock.auth0-lock,
.auth0-lock-form p{
    color: white !important;
}

body.dark-mode,
.auth0-lock.auth0-lock,
.auth0-lock-form,
.auth0-lock-alternative,
.auth0-lock-alternative-link{
    color: white !important;
}

@media (max-width: 615px){
    .background {
        background: white;
    }
}

@media (max-width: 480px){
    .auth0-lock.auth0-lock .auth0-lock-cred-pane {
        height: 40rem !important;
        justify-content: center;
    }
}